<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome to TalentPrep</title>
</head>

<body style="font-family:Arial;background:#f5f6fb;padding:40px;">

<div
        style="
max-width:600px;
margin:auto;
background:white;
padding:40px;
border-radius:12px;
">

    <h1 style="color:#6D28D9;">
        Welcome to TalentPrep 🎉
    </h1>

    <p>

        Hello
        <strong th:text="${name}">User</strong>,

    </p>

    <p>

        Your account has been successfully verified.

    </p>

    <p>

        You can now

        - Practice interviews

        - Build your resume

        - Improve your skills

        - Track your progress

    </p>

    <p>

        We're excited to have you on board!

    </p>

    <br>

    <p>

        The TalentPrep Team

    </p>

</div>

</body>
</html>